.vr__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  font-family: 'SLEIGothicTTF';

}

.about__modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.modal__wrapper {
  width: 500px;
  height: 500px;
  padding: 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}

.modal__header {
  font-size: 2rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.modal__header img {
  margin-left: 2rem;
  width: 3rem;
  height: 3rem;
}
.modal__content{
  padding: 1rem;
  margin-top: 3rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height:1.4rem;
}

.modal__img {
  display: flex;
  margin: 1.5rem auto;
  width: 13rem;
  height: 8rem;
}

.modal__img img {
  width: 100%;
  height: 100%;
}

.modal__footer {
  margin-top: 3rem;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-around ;
  align-items: center;
}

.go__to__about, .go__to__exit {
  width: 5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all .7s;
}

.go__to__about:hover, .go__to__exit:hover {
  border-radius: 1rem;
  /* padding: 1rem; */
  background-color: #fcb69f;
}

.donation {
  opacity: 0;
  position: absolute;
  top: -4.5rem;
  width: 4rem;
  height: 4rem;
  transform: translate(0,3rem);
  transition: all .7s;
}

.go__to__about:hover .donation {
  opacity: 1;
  transform: translate(0,0rem);
  
}
.attribute_flatticon {
  position: absolute;
  bottom: 5px;
  right: 15px;
  color: rgba(0,0,0,0.1);
  font-size: 1px;
}

.attribute_flatticon a {
  color: rgba(0,0,0,0.1);
  text-decoration: none;
}
.attribute_flatticon a:visited {
  color: rgba(0,0,0,0.1);
}
.before {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}
.before i {
  font-size:1.5rem;
  color:#333;
  cursor: pointer;
}

.video__main__Wrapper {
  width: 50%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.healing__VR {
  width: 95%;
  height: 97.5%;
  border-radius: 1rem;
}
.video__list__Wrapper {
  width: 50%;
  height: 100%;
}

.video__list {
  width: 100%;
  height: 100%;
  padding: 1rem 4rem 1rem 1rem;
  overflow-x: hidden;
}
.video__item {
  width: 100%;
  height: 13rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid;
  margin: 1.5rem 0;
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
  cursor: pointer;
}
.content__wrapper {
  padding: 1rem;
  width: 60%;
  height: 100%;
  position: relative;
  pointer-events: none;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
}

.content__wrapper .title {
  font-size: 1.1rem;
  font-weight: 600;
  /* margin: 1rem 0; */
}

.content__wrapper .content {
  font-size: 0.9rem;
  line-height: 1.3rem;
  text-align: justify;
  padding: 1rem 0;
}

.content__wrapper .footer {
  position: absolute;
  font-size: 0.7rem;
  bottom: 1rem;
}
.vr__thumbnail {
  width: 40%;
  height: 100%;
  border-radius:0 1rem 1rem 0;
}

::-webkit-scrollbar {
  width:12px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color:#fff;
  border-radius: 6px;
}

@media (max-width:1400px){
  .vr__wrapper {
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .video__main__Wrapper {
    width: 100%;
    height: 100%;
  }
  .healing__VR {
    width: 98%;
    height: 70vh;
  }
  .video__list__Wrapper {
    width: 100%;

  }
}
@media (max-width:400px){
  .vr__wrapper {
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .video__main__Wrapper {
    width: 100%;
    height: 100%;
  }
  .healing__VR {
    width: 98%;
    height: 30vh;
  }

  .content__wrapper {
    padding: 0.5rem;
    width: 60%;
    height: 100%;
    position: relative;
    pointer-events: none;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: flex-start; */
  }
  
  .content__wrapper .content {
    font-size: 0.4rem;
    line-height: 1rem;
    text-align: justify;
    padding: 1rem 0;
    text-overflow: ellipsis;
    white-space: nowrap;    
    overflow: hidden;    
    display: block;
  }
  .content__wrapper .footer {
    position: absolute;
    font-size: 0.2rem;
    bottom: 1rem;
    
  }
}

.video__btn {
  opacity: 0.7;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  position: absolute;
  bottom: 3rem;
  left: 0.7rem;
  z-index: 100;
  cursor: pointer;
}
.video__popup__vr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.video__vr__wrapper {
  width: 60%;
  height: 60%;
}

.video__vr__wrapper video {
  width: 100%;
  height: 100%;
}